<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h4 class="pull-left">
                    <%= t('camaleon_cms.admin.page_title.list_of', post_type: @post_type.the_title) %>
                    <b>(slug = <%= @post_type.the_slug %>)</b> <%= link_to("<i class='fa fa-eye'></i> #{t("camaleon_cms.common.visit")}".html_safe, @post_type.the_url, class: 'btn btn-xs', target: '_blank') %>
                </h4>
                <%= link_to raw("<i class='fa fa-plus'></i> #{t('camaleon_cms.admin.post_type.add')} #{@post_type.the_title}"), {action: :new}, class: "btn btn-primary pull-right cama_ajax_request" if can? :create_post, @post_type %>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 16px">
            <div class="col-md-9">
                <%= render partial: "camaleon_cms/admin/posts/filter_posts" %>
            </div>
            <div class="col-md-3">
                <form action="<%= url_for(action: :index) %>" method="get" class="cama_ajax_request">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" value="<%= params[:q] %>">
                        <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button></span>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-responsive table-hover table-striped" id="posts-table-list">
            <thead>
                <tr>
                    <% post_column_names(@post_type).each do |attr| %>
                        <th><%= attr %></th>
                    <% end -%>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                
                <% MnObjService.list(@post_type).each do |obj|  %>
                    <tr>
                        <% obj.to_h.each do |key, val| %>
                            <% if attr_included_in(@post_type,key) %>
                            <td><%= process_attr val %></td>
                            <% end -%>
                        <% end -%>
                    <td>
                      <%= link_to raw('<i class="fa fa-pencil"></i>'), {action: :edit, id: obj[:id]}, class: "btn btn-default btn-xs cama_ajax_request", title: "#{t('camaleon_cms.admin.button.edit')}"  %>
                      
                    </td>
                    </tr>
                <% end -%>

            </tbody>
        </table>
        <%= content_tag("div", raw(t('camaleon_cms.admin.message.data_found_list')), class: "alert alert-warning") if @posts.empty? %>
        <%# raw cama_do_pagination(@posts) %>
    </div>
</div>
